body{
    
    background-image: url(homemid4.jpg);
    background-size: cover;
    height: fit-content;
    /* background-image: linear-gradient(to bottom left,var(--light),var(--light2)); */
}

.body{
    padding-top: 20px;
    padding-bottom: 60px;
}
.top{
    background-image: linear-gradient(to top, rgba(255,255,255,0), var(--light2)) !important;
}

.con{
    height: 40vh;
    width: 80vw;
    margin: auto;
    /* border: 2px solid black; */
    border-radius: 30px;
    /* margin-top: 1vh; */
    margin-bottom: 2vh;
    box-shadow: rgba(47, 47, 47, 0.518) 2px 2px 5px;
    /* background-image: linear-gradient(to bottom,var(--light),var(--light2)); */
    text-align: center;
    overflow: hidden;
}

.conimg img{
    /* opacity: 0.8; */
    border-radius: 30px;
    /* z-index: -2; */
    /* positon: absolute; */
    /* left: 0%; */
    width: 30vw;
    height:40vh;
    /* float: right; */
}

.conleft{
    background-image: linear-gradient(to right,var(--light),var(--light2));
}

.conright{
    background-image: linear-gradient(to left,var(--light),var(--light2));
    
}

.conleft img{
    float:right;
}
.conright img{
    float:left;
}
.conleft .text{
    float: left;
}
.conright .text{
    float: right;
}


.text p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vh;
    width: 50vw;
    height: 40vh;
    margin-top: 7vh;
    color: #ffffffce;
}

.text a{
    /* text-decoration: none; */
    color: aliceblue;
    font-size: 3vh;
    text-decoration: solid;
}

    